body {
    font-family: Helvetica, sans-serif;
    background-color: #f0ebf8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #673ab7;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -30px -30px 20px -30px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.radio-group,
.checkbox-group {
    margin-bottom: 20px;
}

.radio-group label,
.checkbox-group label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #1a73e8;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: white;
    color: #1a73e8;
    border: 2px solid #1a73e8;
}
button:active {
    background-color: white;
    color: #673ab7;
    border: 2px solid #673ab7;
}
